DB_URL=jdbc:mysql://mysql:3306/gwlite?createDatabaseIfNotExist=true
DB_DRIVER=com.mysql.cj.jdbc.Driver
DB_USERNAME=root
DB_PASSWORD=your_real_password

JWT_SECRET=put_64_char_random_string_here

REDIS_HOST=redis
REDIS_PORT=6379

S3_BUCKET=gwlite-document-versions
AWS_REGION=us-east-1
GCP_PROJECT_ID=your-gcp-project-id